<div class="user-details">
  <h1>About Me</h1>
  <p>{{site.user_description}}</p>
</div>
<div class="user">
  <div class="tech-wrapper">
    <div>
      <h2>Build</h2>
      <div class="tech-icons">
        <i class="devicon-cmake-plain colored"></i>
        <i class="devicon-jenkins-plain colored"></i>
        <i class="devicon-githubactions-plain"></i>
        <i class="devicon-ansible-plain colored"></i>
      </div>
    </div>
    <p class="tech-description">
      Experienced with build systems such as GNU Make, CMake and bitbake (Yocto
      Project). Also experienced with CI/CD solutions such as Jenkins and Github
      Actions, as well as IaC and CaC tools such as Terraform and Ansible.
    </p>
    <div>
      <h2>Code</h2>
      <div class="tech-icons">
        <i class="devicon-linux-plain colored"></i>
        <i class="devicon-csharp-plain-wordmark colored"></i>
        <i class="devicon-go-plain colored"></i>
        <i class="devicon-rust-original"></i>
      </div>
    </div>
    <p class="tech-description">
      Experienced in C (Linux kernel driver development), .NET Framework (C#),
      Python, Golang, Rust.
    </p>
    <div>
      <h2>Tools</h2>
      <div class="tech-icons">
        <i class="devicon-git-plain"></i>
        <i class="devicon-docker-plain colored"></i>
        <i class="devicon-kubernetes-plain-wordmark colored"></i>
        <i class="devicon-bash-plain"></i>
      </div>
    </div>
    <p class="tech-description">
      Experienced with industry standard tools such as git, Docker, Kubernetes
      (FluxCD for GitOps) and Bash scripting.
    </p>
  </div>
</div>
