<div class="user-details">
  <h1>Featured Projects</h1>
</div>
<div class="user-projects">
  <div>
    <div class="project-title">
      <h3>Minecraft server authentication through Discord</h3>
    </div>
    <div class="project-summary">
      <div class="contents-left">
        <h4>Used Technologies</h4>
        <ul>
          <li>Minecraft server - Velocity proxy, PaperMC</li>
          <li>Java - Minecraft plugin</li>
          <li>PostgreSQL</li>
          <li>Rust - Discord bot</li>
        </ul>
      </div>
      <div class="images-right">
        <video autoplay muted loop playsinline>
          <source src="https://media.githubusercontent.com/media/Erik142/portfolio/master/assets/video/minecraft_auth_demo.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
    </div>
  </div>
  <h4>Project Summary</h4>
  <p>
    The purpose for this project was to solve an issue that I was facing when
    attempting to host a private Minecraft server for me and my closest
    friends. The problem I faced was: How do I keep the server private, while
    hosting it openly on the internet? During my research, I could not
    find a good solution for ensuring that only players that are part of a
    specific Discord community could play on the Minecraft server. Minecraft
    itself only supports white/blacklisting of IP addresses, which is not a
    very user-friendly solution, and it only solves the problem if every player
    has a static, public IP address, which I cannot ensure.
  </p>
  <p>
    See the demo video for my solution to this problem.
  </p>
  <h4>GitHub links</h4>
  <a class="project-link" href="https://github.com/Erik142/velocity-authentication">Minecraft Auth Plugin GitHub repo</a>
  <a class="project-link" href="https://github.com/Erik142/minecraft-discord-auth">Discord Bot GitHub repo</a>
</div>
<div class="user-projects">
  <div>
    <div class="project-title">
      <h3>Minimal Bash logging framework</h3>
    </div>
    <div class="project-summary">
      <div class="contents-left">
        <h4>Used Technologies</h4>
        <ul>
          <li>Bash</li>
          <li>Bats - Test Framework</li>
          <li>ShellCheck - Linting</li>
          <li>GitHub Actions - CI</li>
          <li>Unix Utilities</li>
        </ul>
      </div>
      <div class="images-right">
        <img alt="log.sh" src="{{ "/assets/img/log.sh.png" | prepend:
        site.baseurl }}" />
      </div>
    </div>
  </div>
  <h4>Project Summary</h4>
  <p>
    The purpose of this project was to solve a simple but irritating issue when
    developing bash scripts: Proper logging mechanisms. Colored output,
    supporting multiple logging levels, and not interfering with output printed
    to stdout.
  </p>
  <p>
    Without a proper logging framework, it is difficult to catch errors from the output itself in a bash script. Instead you have to solely rely on exit codes, which is OK for scripts that execute in an automated environment, but less ideal for scripts that are executed in bash shells by the user itself. It is also unnecessarily difficult to implement debug printouts in Bash using "echo" statements. log.sh is an attempt to solve these issues.
  </p>
  <h4>GitHub links</h4>
  <a class="project-link" href="https://github.com/Erik142/log.sh">log.sh GitHub repo</a>
</div>
<div class="user-projects">
  <div>
    <div class="project-title">
      <h3>Terminal multiplexer session manager</h3>
    </div>
    <div class="project-summary">
      <div class="contents-left">
        <h4>Used Technologies</h4>
        <ul>
          <li>Bash</li>
          <li>Bats - Test Framework</li>
          <li>ShellCheck - Linting</li>
          <li>GitHub Actions - CI</li>
          <li>Unix Utilities</li>
        </ul>
      </div>
      <div class="images-right">
        <video autoplay muted loop playsinline>
          <source src="https://media.githubusercontent.com/media/Erik142/portfolio/master/assets/video/jorp.sh_demo.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
    </div>
  </div>
  <h4>Project Summary</h4>
  <p>
    The purpose of this project was to quickly and efficiently be able to open
    new tmux sessions with pre-defined layouts, where each session correspond
    to a "project". A "project" can be a git repository, a user-specified path,
    or a scratchpad with one blank tmux pane.
  </p>
  <p>
    Tmux is a great terminal multiplexer and I find myself using it quite a bit
    for all the work I do in a shell environment. Even though tmux has built-in
    support for creating new sessions and switching between them, doing so is
    not as convenient as using an external tool built only for this purpose.
    jorp.sh is my personal tmux session manager which is bound to a
    key-combination inside tmux in order to quickly switch between, create new,
    and remove old, tmux sessions.
  </p>
  <p>
    See the demo video for my solution to this problem.
  </p>
  <h4>GitHub links</h4>
  <a class="project-link" href="https://github.com/Erik142/jorp.sh">jorp.sh GitHub repo</a>
</div>
